<!DOCTYPE html>
<html>
  <head>
    <title>Teppen Bridge</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Electrolize|Fredoka+One|PT+Sans+Caption|Patua+One|Puritan|Rubik|Glegoo:700|M+PLUS+1p|Asap+Condensed|Merriweather+Sans|Source+Sans+Pro|Ubuntu|Courgette" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script>
      const asset_paths = {
        student: "<%= asset_path('student.jpg') %>",
        review: "<%= asset_path('review.jpg') %>",
        assignment: "<%= asset_path('assignment.jpg') %>",
        current_enrollment: "<%= asset_path('current_enrollment.jpg') %>",
        enroll: "<%= asset_path('enroll.jpg') %>",
        chart: "<%= asset_path('chart.jpg') %>",
        teppen_bridge: "<%= asset_path('teppen_bridge.jpg') %>",
        new_enrollment: "<%= asset_path('new_enrollment.jpg') %>",
        bus: "<%= asset_path('bus.jpg') %>",
        yang: "<%= asset_path('yang.jpg') %>",
        frank: "<%= asset_path('frank.jpg') %>",
        charles: "<%= asset_path('charles.jpg') %>",
        kanwal: "<%= asset_path('kanwal.jpg') %>",
        family: "<%= asset_path('family.jpg') %>",
        assignment2: "<%= asset_path('assignment2.jpg') %>",
        programs: "<%= asset_path('programs.jpg') %>",
        teacher: "<%= asset_path('teacher.jpg') %>",
        subject: "<%= asset_path('subject.jpg') %>",
        programs2: "<%= asset_path('programs2.jpg') %>",
        success: "<%= asset_path('success.jpg') %>",
        confidence: "<%= asset_path('confidence.jpg') %>",
        easy: "<%= asset_path('easy.jpg') %>",
      }
    </script>

    <%= yield %>

    </body>
</html>
